.menu-container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 130px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}

.menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    height: 100%;
    background-color: #fff;
    border-radius: 20px 20px 0 0;
    box-shadow: 0 0px 20px rgba(0, 0, 0, 0.3);
}

.menu-card{
    display: flex;
    gap: 2px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
    color: #202020;
}

.menu-card:hover{
    color: #4a7be3;
}