.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 95px;
  height: 190px;
  width: 322px;
  position: relative;
}

/* .logo .text-wrapper {
  color: #000000;
  font-family: "Noto Sans-Black", Helvetica;
  font-size: 16px;
  font-weight: 900;
  left: 124px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 83px;
} */
