.relatos-container {
font-family: "Poppins", sans-serif;
}


.tab-active {
padding-bottom: 6px;
border-bottom: 2px solid #4a7be3;
color: #4a7be3;
font-weight: bold;
}


.tab-default {
padding-bottom: 6px;
transition: .2s;
}


.tab-default:hover {
color: #4a7be3;
}


.card {
display: flex;
align-items: center;
background: white;
padding: 16px;
border-radius: 16px;
box-shadow: 0 4px 12px rgba(0,0,0,0.06);
transition: .2s;
}


.card:hover {
transform: translateY(-2px);
box-shadow: 0 6px 14px rgba(0,0,0,0.08);
}


.card-icon {
display: flex;
justify-content: center;
align-items: center;
width: 40px;
height: 40px;
background: #e8efff;
color: #4a7be3;
border-radius: 12px;
margin-right: 14px;
}


.card-info h4 {
font-size: 14px;
font-weight: 600;
}


.card-info p {
font-size: 12px;
color: #777;
margin-top: 4px;
}


.card-details {
margin-left: auto;
display: flex;
align-items: center;
color: #777;
}

.pre-card{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.btn-detalhes {
display: flex;
justify-content: center;
align-items: center;
height: 4vh;
background: #4a7be3;
color: white;
border: none;
border-radius: 8px;
padding: 8px 16px;
cursor: pointer;
transition: background .2s;
}